<nav class="navbarP bg-primary">
  <div class="row d-flex justify-content-center">
    <div class="col-4 col-lg-6 col-md-6 mt-5">
        <strong><a class="head-text text-light" href="#">Todo-List AA</a></strong>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6 col-lg-6 col-md-8 mt-2 mr-5">
      <div class="row d-flex justify-content-end">
          <label>Adicione uma nova todo!</label>
      </div>
      <input type="text" class="form-control" placeholder="Digite a Todo">
      <div class="row d-flex justify-content-end my-1">
        <button class="btn btn-add">Adicionar</button>
      </div>
    </div>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>